<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cats</title>
</head>
<body>
<h1>Create a Cat!</h1>
<form action="/Cats2_war/cats/create" method="post">
    <label for="nameInput">
        Name: <input type="text" id="nameInput" name="name">
    </label>
    <br />
    <label for="breedInput">
        Breed: <input type="text" id="breedInput" name="breed">
    </label>
    <br />
    <label for="colorInput">
        Color: <input type="text" id="colorInput" , name="color">
    </label>
    <br />
    <label for="ageInput">
        Age: <input type="number" id="ageInput" name="age">
    </label>
    <br />
    <button type="submit">Create Cat!</button>
</form>
<a href="/Cats2_war">Back to home page</a>
</body>
</html>