{{> header}}
<!-- Dashboard -->
<table style="margin: 0 auto; margin-top:5%; margin-bottom: 5%; width: 95%;" class="table table-hover">
    <thead>
        <tr class="bg-warning">
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Details
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each offers}}
            {{> offer}}
        {{/each}}
    </tbody>

</table>
<!-- /.Dashboard -->
{{> footer}}