{{> headers}}
<div class="my-listings">
    <h1>My car listings</h1>
    <div class="car-listings">
        <div class="my-listing">
            <p id="listing-title">Audi a3 много запазено</p>
            <img src="https://i.imgur.com/drIOsYl.jpg">

            <div class="listing-props">
                <h2>Brand: Audi</h2>
                <h3>Model: a3</h3>
                <h3>Year: 1998</h3>
                <h3>Price: 2500$</h3>
            </div>
            <div class="my-listing-buttons">
                <a href="#" class="my-button-list">Details</a>
                <a href="#" class="my-button-list">Edit</a>
                <a href="#" class="my-button-list">Delete</a>
            </div>
        </div>
        <p class="no-cars"> No cars in database.</p>
    </div>
</div>
{{> footers}}