<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Cat</title>
</head>
<body>
    <h1>Create Cat!</h1>
    <form action="/FDMC_war_exploded/cats/create" method="POST">
        <label for="nameInput">Name:
            <input type="text" id="nameInput" name="name">
        </label>
        <br/>
        <label for="breedInput">Breed:
            <input type="text" id="breedInput" name="breed">
        </label>
        <br/>
        <label for="colorInput">Color:
            <input type="text" id="colorInput" name="color">
        </label>
        <br/>
        <label for="ageInput">Age:
            <input type="number" id="ageInput" name="age">
        </label>
        <br/>
        <button type="submit">Create Cat</button>
    </form>
    <a href="/FDMC_war_exploded">Back to home page!</a>
</body>
</html>