<section id="viewCatalog" class="background-img">
    <a href="#/add" class="add-flight">Add Flight +</a>

    <div class="added-flights">
        {{#each flights}}
            {{> flight}}
        {{/each}}
    </div>
</section>
