{{> header}}
<div id="myMovies">
    <h1>My Movies</h1>
    <div class="movies">
        <div class="movie">
            <h2>Title: Us (2019)</h2>
            <img
                src="https://m.media-amazon.com/images/M/MV5BZTliNWJhM2YtNDc1MC00YTk1LWE2MGYtZmE4M2Y5ODdlNzQzXkEyXkFqcGdeQXVyMzY0MTE3NzU@._V1_UX140_CR0,0,140,209_AL_.jpg">
            <p>Available Tickets: 50</p>
            <div class="btn-group">
                <button><a href="#">Edit</a></button>
                <button><a href="#">Delete</a></button>
                <button><a href="#">Buy Ticket</a></button>
                <button><a href="#">Details</a></button>
            </div>
        </div>
        <div class="movie">
            <h2>Title: Hotel Mumbai (2018)</h2>
            <img
                src="https://m.media-amazon.com/images/M/MV5BYTJlZWY2YjYtZGIxMy00MDEwLTliNzMtZGM3MDQ1NzlmNDY1XkEyXkFqcGdeQXVyNDY2MjcyOTQ@._V1_UY209_CR0,0,140,209_AL_.jpg">
            <p>Available Tickets: 14</p>
            <div class="btn-group">
                <button><a href="#">Edit</a></button>
                <button><a href="#">Delete</a></button>
                <button><a href="#">Buy Ticket</a></button>
                <button><a href="#">Details</a></button>
            </div>
        </div>
  
    </div>
</div>
{{> footer}}